<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/fontawesome/css/all.css' %}">
    <title>{{ title }}</title>
    <style>
    .h-formfield-uppercase input {
      text-transform: uppercase;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
    ::placeholder { /* Recent browsers */
        text-transform: none;
    }
    </style>
</head>
<body>
<div class="container px-4 py-5">
    <div class="container"><p><h2 class="fw-light">{{ header }}</h2><p>
        <hr class="hr" />
        <div class="hstack gap-1">
            <a class="btn btn-link" href="{% url 'MainMenu' %}">Main Menu</a>
            &nbsp;<div class="vr"></div>&nbsp;
            <a class="btn btn-link" href="{% url 'MainMenu' %}">UID Menu</a>
        </div>
        <hr class="hr" />
        <!-- alert -->
        {% if messages %}
        {% for messages in messages %}
        {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href=""></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href=""></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href=""></a></div>
        {% endif %}
        {% endfor %}
        {% else %}<div id="alert"></div>
        {% endif %}
        <!-- alert -->

        <!-- Card summary -->
        <div class="card p-2">
            <div class="card-header border-0">
                <div class="table-responsive">
                    <table class="table table-sm">
                        <caption>Summary</caption>
                        <tbody class="table-light">
                        <tr>
                            <td>
                                <div class="hstack gap-1">Total: {{ total }}
                                    <div class="ms-auto">
                                        <div class="hstack gap-1"><span style='color:#33b5e5'>
                                            <i class="fa fa-circle"></i></span>&nbsp;Active: {{ active }}
                                            &nbsp;<div class="vr"></div>&nbsp;<span class='text-danger'><i class="fa fa-circle"></i></span> Blocked: {{ blocked }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Table filter -->
        <div class="card mt-3 p-2">
            <div class="card-header border-0">
                <form name="myForm" action="{% url 'ResultUser' %}" method="GET" enctype="multipart/form-data">
                    <div class="table-responsive">
                        <table class="table table-sm">
                            <tbody>
                            <tr>
                                <td>
                                    <span class="h-formfield-uppercase">
                                        <input class="form-control shadow-none" type="text" id="name" name="name" placeholder="Name" autocomplete="off"/>
                                    </span>
                                </td>
                                <td>
                                    <span class="h-formfield-uppercase">
                                        <input class="form-control shadow-none" type="text" id="username" name="username" placeholder="Username" autocomplete="off"/>
                                    </span>
                                </td>
                                <td>
                                    <select class="form-select shadow-none fw-bold" name="level">
                                        <option value="" disabled selected hidden>Level</option>
                                        <option disabled>{{ value|default:"---" }}</option>
                                        <option value="SUP">SUPERUSER</option>
                                        <option value="ADM">ADMINISTRATOR</option>
                                        <option value="STD">STANDARD</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select shadow-none fw-bold" name="status">
                                        <option value="" disabled selected hidden>Status</option>
                                        <option disabled>{{ value|default:"---" }}</option>
                                        <option value=1>ACTIVE</option>
                                        <option value=0>BLOCKED</option>
                                    </select>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="hstack gap-1">
                            <button class="btn btn-primary btn-sm px-3" type="submit">Search</button>
                            <a class="btn btn-secondary btn-sm px-3" href="{% url 'ViewUser' %}">Reset</a>
                            <div class="ms-auto">
                                <a class="btn btn-primary btn-sm px-2" href="{% url 'AddUserUID' %}"><i class="fa fa-user-plus"></i>&nbsp; New UID User</a>
                            </div>
                        </div>
                    </div>
                </form>
                <hr class="hr" />
                <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <caption><!-- pagination before result -->
                            {% if page_obj.has_other_pages %}
                            <ul class="pagination justify-content-center pagination-sm">
                                {% if page_obj.has_previous %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page=1">First page</a></li>
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ page_obj.previous_page_number }}">
                                    <span aria-hidden="true">&laquo;</span></a></li>
                                {% endif %} {% for num in page_obj.paginator.page_range %} {% if page_obj.number == num %}
                                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span> </li>
                                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ num }}">{{ num }}</a></li>
                                {% endif %} {% endfor %} {% if page_obj.has_next %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ page_obj.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ page_obj.paginator.num_pages }}">Last page</a> </li>
                                {% endif %}
                            </ul><!-- end pagination -->
                            <!-- pagination after result-->
                            {% elif object_list.has_other_pages %}
                            <ul class="pagination justify-content-center pagination-sm">
                                {% if object_list.has_previous %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page=1&assign={{ request.GET.assign }}&storage={{ request.GET.storage }}&area={{ request.GET.area }}&status={{ request.GET.status }}">First page</a></li>
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ object_list.previous_page_number }}&assign={{ request.GET.assign }}&storage={{ request.GET.storage }}&area={{ request.GET.area }}&status={{ request.GET.status }}">
                                    <span aria-hidden="true">&laquo;</span></a></li>
                                {% endif %} {% for num in object_list.paginator.page_range %} {% if object_list.number == num %}
                                <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span> </li>
                                {% elif num > object_list.number|add:'-3' and num < object_list.number|add:'3' %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ num }}&assign={{ request.GET.assign }}&storage={{ request.GET.storage }}&area={{ request.GET.area }}&status={{ request.GET.status }}">{{ num }}</a></li>
                                {% endif %} {% endfor %} {% if object_list.has_next %}
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ object_list.next_page_number }}&assign={{ request.GET.assign }}&storage={{ request.GET.storage }}&area={{ request.GET.area }}&status={{ request.GET.status }}">
                                    <span aria-hidden="true">&raquo;</span></a></li>
                                <li class="page-item"><a class="page-link shadow-none" href="?page={{ object_list.paginator.num_pages }}&no_loc={{ request.GET.no_loc }}&assign={{ request.GET.assign }}&storage={{ request.GET.storage }}&area={{ request.GET.area }}&status={{ request.GET.status }}">Last page</a> </li>
                                {% endif %}
                            </ul>
                            {% endif %}
                            <!-- end pagination -->
                        </caption>
                        <thead>
                        <tr class="table-secondary">
                            <th>No.</th>
                            <th>NIK</th>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Dept.</th>
                            <!-- <th>Email</th> -->
                            <th>Level</th>
                            <th>Status</th>
                            <th>UID</th>
                            <th>Registered</th>
                            <th style="width:12%">Action</th>
                        </tr>
                        </thead>
                        <tbody>{% for data in object_list %}
                        <tr>
                            <td class="border-end" >{% if page_obj %}
                                {{ page_obj.start_index|add:forloop.counter0 }}
                                {% else %}
                                {{ object_list.start_index|add:forloop.counter0 }}
                                {% endif %}
                            </td>
                            <!-- https://stackoverflow.com/questions/19886973/display-item-numbers-with-django-paginator -->
                            <td>{{ data.nik }}</td>
                            <td>{{ data.nm_krywn }}</td>
                            <td>{{ data.usernm }}</td>
                            <!-- <td></td> -->
                            <td>{{ data.dept }}</td>
                            <td>{% if data.level == 'ADM' %}
                                Administrator
                                {% else %}
                                Standard
                                {% endif %}</td>
                            <td>{% if data.status == 1 %}
                                Active
                                {% else %}
                                Blocked
                                {% endif %}</td>
                            <td>{{ data.uid }}</td>
                            <td>{{ data.joined|date:"d/m/Y" }} {{ data.joined|date:"H:i" }}</td>
                            <td>
                                <!-- <div class="hstack gap-1"> -->
                                <a class="btn btn-primary btn-sm px-3" href="{% url 'EditUserUID' data.id %}">Edit</a>
                                <a class="btn btn-danger btn-sm px-2" data-bs-toggle="modal" data-bs-target="#id-{{ data.usernm }}">Delete</a>

                                <!-- Modal -->
                                <div class="modal fade" id="id-{{ data.usernm }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalLabel"><i class="fa fa-exclamation-circle" style="color:#243c64;"></i>&nbsp;Hapus UID?</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                Anda yakin untuk menghapus UID <strong>{{ data.uid }}</strong> / {{ data.usernm }}?
                                            </div>
                                            <div class="modal-footer">
                                                <form method="POST" action="{% url 'DeleteUserUID' data.id %}" enctype="multipart/form-data">
                                                    {% csrf_token %}
                                                    <input class="btn btn-sm btn-danger" type="submit" value="Delete">
                                                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>{% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
$("form[name=myForm]").submit(function() {
    if ($("input").val() == "" && !$("select").val()){
        $("#alert").html("<div class='alert alert-warning border-0' role='alert'>Fill the form to be submitted.</div>");
        return false;
    }
});
</script>
<script>
// fungsi disable/enable input when select option
$("select").change(function() {
    if ($(this).val() == 0 || $(this).val() ) {
        $("input").val('').attr("disabled", true);
    } else {
        $("input").removeAttr("disabled");
    }
}).trigger("change");
</script>
<script>
// fungsi disable/enable select when input fill
$("input").change(function() {
    // If the element *has* a value
    if ($(this).val()) {
        // Should also perform validation here
        $("select").attr("disabled", true);
    }
    // If the element doesn't have a value
    else {
        // Clear the value of all next steps and disable
        $("select").removeAttr("disabled");
    }
});
</script>
<script>
// fungsi name input di isi
$("#name").change(function() {
    if ($(this).val()) {
        $("#username").val('').attr("disabled", true);
    } else {
       $("#username").removeAttr("disabled");
    }
}).trigger("change");
</script>
<script>
// fungsi username input di isi
$("#username").change(function() {
    if ($(this).val()) {
        $("#name").val('').attr("disabled", true);
    } else {
       $("#name").removeAttr("disabled");
    }
}).trigger("change");
</script>
</html>