<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <title>Main Menu</title>
</head>
<body>
<!-- <div hx-get="{% url 'MainMenu' %}" hx-trigger="every 10s" hx-swap="innerHTML"> -->
<div class="container px-4 py-5">
    <div class="container"><p><h2>Main Menu</h2><p>
        <hr class="hr" />
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><a href="location">Storage Location</a></li>
            <li class="list-group-item"><a href="product">Product</a></li>
            <li class="list-group-item"><a href="newline">Assign Location</a></li>
            <li class="list-group-item"><a href="receiving">Receiving</a></li>
            <li class="list-group-item"><a href="transfer">Stock Transfer</a></li>
            <li class="list-group-item"><a href="picking">Picking</a></li>
            <li class="list-group-item"><a href="sto">Stock Opname</a></li>
            <li class="list-group-item"><a href="{% url 'ViewAdjustmentRecord' %}">Report Movement</a></li>
            <li class="list-group-item"><a href="{% url 'ViewLocationProduct' %}">Report Stock by Location</a></li>
            <li class="list-group-item"><a href="{% url 'ViewStockProduct' %}">Report Stock Product</a></li>
            <li class="list-group-item"><a href="{% url 'ViewLabel' %}">Create Label</a></li>
            <li class="list-group-item"><a href="{% url 'ViewUser' %}">User Administration</a></li>
        </ul>
    </div>
</div>
</body>
</html>