<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <title>{{ title }}</title>
    <style>
    .h-formfield-uppercase input {
      text-transform: uppercase;
    }
    ::-webkit-input-placeholder { /* WebKit browsers */
        text-transform: none;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        text-transform: none;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
        text-transform: none;
    }
    :-ms-input-placeholder { /* Internet Explorer 10+ */
        text-transform: none;
    }
    ::placeholder { /* Recent browsers */
        text-transform: none;
    }
    </style>
</head>
<body>
<div class="container px-4 py-5">
    <div class="container"><p><h2>{{ header }}</h2><p>
        <hr class="hr" />
        <a class="btn btn-link" href="{% url 'MainMenu' %}">Main Menu</a>
        &nbsp;<div class="vr"></div>&nbsp;
        <a class="btn btn-link" href="{% url 'AddProduct' %}">New Product</a>
        &nbsp;<div class="vr"></div>&nbsp;
        <a class="btn btn-link" href="{% url 'ViewProduct' %}">List Product</a>
        <hr class="hr" />
                <!-- alert -->
        {% if messages %}
        {% for messages in messages %}
        {% if messages.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href="{% url 'DetailProduct' data.prod_code %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href="{% url 'DetailProduct' data.prod_code %}"></a></div>
        {% elif messages.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <div class="alert alert-warning border-0 alert-dismissible fade show" role="alert">{{ messages }}
            <a class="btn-close" aria-label="Close" href="{% url 'DetailProduct' data.prod_code %}"></a></div>
        {% endif %}
        {% endfor %}
        {% else %}
        {% endif %}
        <!-- alert -->
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card p-2"><!-- <div class="card shadow"> -->
                <div class="card-header border-0">
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered table-sm">
                            <thead class="table-secondary">
                            <tr>
                                <th>No. Prod</th>
                                <th>{{ data.prod_code }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="h-formfield-uppercase">
                                <th scope="row">Product Description</th>
                                <td>{{ data.prod_desc }}</td>
                            </tr>
                            <tr class="h-formfield-uppercase">
                                <th scope="row">Supplier</th>
                                <td>{{ data.supplier }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Min. Stock</th>
                                <td>{{ data.stock_min }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Max. Stock</th>
                                <td>{{ data.stock_max }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Lead Time (Days)</th>
                                <td>{{ data.l_time_days }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Pack</th>
                                <td>{{ data.pack_size }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Status</th>
                                <td>{{ data.status }}</td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="hstack gap-1">
                            <a class="btn btn-primary btn-sm px-3" href="{% url 'EditProduct' data.prod_code %}">Edit</a>
                            <!-- &nbsp;<div class="vr"></div>&nbsp;-->
                             <a class="btn btn-secondary btn-sm px-3" href="{% url 'ViewProduct' %}">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>