<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Card Number</th>
        <th>ID Employee</th>
        <th>Name Employee</th>
        <th>Dept.</th>
        <th>Username</th>
        <th>Password</th>
        <th>Level</th>
    </tr>
    </thead>
    <tbody>
    {% for list in data %}
    <tr>
        <td>{{ list.no_card }}</td>
        <td>{{ list.nik }}</td>
        <td>{{ list.nm_krywn }}</td>
        <td>{{ list.dept }}</td>
        <td>{{ list.usernm }}</td>
        <td>{{ list.passwd }}</td>
        <td>{{ list.level }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="my-3 btn btn-primary" href="{% url 'AddUser' %}">(+) New User</a>
</body>
</html>